/* Hide scrollbar for Chrome, Safari and Opera */
.sending-receiving-message-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sending-receiving-message-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.chatpage-component * {
    font-family: Inter;
    
}

.chatpage-component .chat-container {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: 80vh;
    border-radius: 18px;
    background: #FFF;
    /* padding: 2rem 4.188rem; */
    padding: 0 3.5vw;


}

.chatpage-component .back-icon-container{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}

.chatpage-component .back-icon svg {
    border-radius: 32px;
    background: rgba(219, 219, 219, 0.40);
    backdrop-filter: blur(25px);
}

.chatpage-component .sending-receiving-message-container {
    /* margin-top: 1.5rem; */
    height: 75%;
    /* padding: 0 3.5vw !important; */
    overflow-y: auto !important;


}

.chatpage-component .sending-message-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    margin-bottom: 2.563rem;
    

}

.chatpage-component .sending-message {
    padding: 0.938rem 1.5rem 0.938rem 1.563rem;
    border-radius: 14px 1px 14px 14px;
    border: 1.159px solid rgba(134, 146, 166, 0.20);
    background: #005C75;
    margin-right: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 1.014rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chatpage-component .sending-message-time {
    color: #757575;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.12px;
    margin-top: 0.5rem;
}


.chatpage-component .receiving-message-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 2.563rem;
    /* position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 3.5vw; */

}

.chatpage-component .receiving-message {
    border-radius: 1px 18px 18px 18px;
    border: 1.159px solid rgba(134, 146, 166, 0.20);
    background: #FFF;
    padding: 0.938rem 1.5rem 0.938rem 1.563rem;
    margin-right: 0;
    font-family: Inter;
    font-size: 1.014rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chatpage-component .recommendation-text {
    color: #161616;
    font-family: "BespokeStencil-Variable";
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.36px;
}

.chatpage-component .horizontal-line {
    color: grey;
    height: 1px;
}

.chatpage-component .default-receiving-suggestions-container {
    display: flex;
    gap: 1.159rem;
    margin: 0.875rem 0;
}

.chatpage-component .default-receiving-suggestion {
    padding: 1.159rem;
    border-radius: 9.274px;
    border: 1.159px solid #005C75;
    backdrop-filter: blur(26.66204833984375px);
    color: #005C75;
    font-family: Inter;
    font-size: 1.014rem;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    height:2.898rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.chatpage-component .receiving-message-time {
    color: #757575;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.12px;
}



.chatpage-component .chat-textarea-section {
    left: 0rem;
    bottom: 2.313rem;
    width: 100%;
    /* padding: 0 4.188rem; */
    height: 15%;
        /* padding: 0 3.5vw; */


}

.chatpage-component .chat-textarea-container {
    border-radius: 4px 0px 0px 4px;
    background: #B6D4DA;
    height: 4.125rem;
    width: 100%;
    padding: 0 2.0rem;
    padding-left: 1rem;
}

.chatpage-component .chat-textarea-field {
    height: 2.5rem;
    border-radius: 5px;
    background: #FFF;
    resize: none;
    border: none;
    outline: none;
    line-height: 2.5rem;
    padding: 0 0.625rem;
    width: 100%;
    margin: auto 0;
}

.chatpage-component .record-icon {
    position: absolute;
    right: 1rem;
    top: 0.7rem;
}

.chatpage-component .chatpage-component .vertical-line {
    width: 0.58px;
    height: 24px;
    background: #8692A6;
}

.chatpage-component .send-btn-container {
    display: flex;
    width: 5.313rem;
    height: 4.125rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0px 4px 4px 0px;
    background: #005C75;
}